@page
@model EmployeeModel
@{
    ViewData["Title"] = "Employee page";
}
<div class="h-100 align-content-center">
    <div class="card h-75">

        @if (Model.EmployeeChoice is null)
        {
            <div style="height: 85%;">
                <div class="h-100 text-center" style="background-color: green;">
                    <h1>Kassa 1</h1>
                    <div class="pic">
                    </div>
                </div>
            </div>
            <form method="post">
                <button type="submit" name="EmployeeChoice" value="true" class="btn btn-success mt-2 w-100">18+</button>
                <button type="submit" name="EmployeeChoice" value="false" class="btn btn-danger mt-2 w-100">18-</button>
            </form>
        }
        else if (Model.EmployeeChoice == true)
        {
            if (Model.ModelAgeEstimation < 0)
            {
                <div style="height: 85%;">
                    <div class="h-100 text-center" style="background-color: orange;">
                        <h1>Error: Geen schatting mogelijk</h1>
                        <button class="btn btn-primary ms-3" onclick="showPopup('Er is geen goede schatting kunnen maken, let extra goed op!')">I</button>
                        <div class="pic">
                        </div>
                    </div>
                </div>
                <input type="number" placeholder="Code" />
                <p>Code: 1234</p>
                <button class="btn btn-primary">Afronden</button>
            }
            else if (Model.ModelAgeEstimation < 25)
            {
                <div style="height: 85%;">
                    <div class="h-100 text-center" style="background-color: green;">
                        <h1>Schatting: 25+</h1>
                        <button class="btn btn-primary ms-3" onclick="showPopup('Deze klant is geschat boven de 25.')">I</button>
                        <div class="pic">
                        </div>
                    </div>
                </div>
                <input type="number" placeholder="Code" />
                <p>Code: 1234</p>
                <button class="btn btn-primary">Afronden</button>
            }
            else
            {
                <div style="height: 85%;">
                    <div class="h-100 text-center" style="background-color: red;">
                        <h1>Schatting: 25-</h1>
                        <button class="btn btn-primary ms-3" onclick="showPopup('Deze klant is geschat onder de 25, let extra goed op!')">I</button>
                        <div class="pic">
                        </div>
                    </div>
                </div>
                <input type="number" placeholder="Code" />
                <p>Code: 1234</p>
                <button class="btn btn-primary">Afronden</button>
            }
        }
        else
        {
            //HTML for ID check here
        }
    </div>
</div>